.card-component {
  position: relative;
}
.card-front,
.card-back {
  width: 12rem;
  height: 12rem;
  display: block;
  border-radius: 2rem;
  border: solid 0.2rem white;
}

.card-front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.flipped .card-front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card-back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .card-back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media (max-width: 59.38em) {
  .card-front,
  .card-back {
    width: 10rem;
    height: 10rem;
  }
}
@media (max-width: 48em) {
  .card-front,
  .card-back {
    width: 11em;
    height: 11rem;
  }
}
