html {
  font-size: 62.5%;
}
body {
  margin: 0;
  position: relative;
}

@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 26.25em) {
  html {
    font-size: 43.75%;
  }
}
